*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    margin-top: 2rem;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
}
#translate-text {
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid black;
}
#translate-text:focus{
    border-bottom: 1px solid rgb(0, 38, 255);
}
.card {
    margin-top: 10px;
}
.background-en {
    background-image: url("img/en.png");
}
.background-de {
    background-image: url("img/de.png");
}
.background-es {
    background-image: url("img/es.png");
}
#translateBtn {
    margin-top: 12px;
}
#translated-text {
    font-size: 1.5rem;
    color: red;
}